@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Lexend", sans-serif;
    margin: 0;
    min-height: 100vh;
    justify-content: space-between;
    flex: 1;
}

.header {
display: flex;
height: 64px;
background-color: rgb(136, 167, 175);
justify-content: space-between;
align-items: center;
padding: 0 16px;
/* box-shadow: 0 4px 8px rgba(103, 116, 134, 0.377);*/
}

.logo {
    font-weight: 600;
    font-size: 32px;
    color: white ;
}

ul {
display: flex;
margin: 0;
padding: 0;
gap: 24px;
list-style-type: none;
}

a {
text-decoration: none;
color: white; 
}

a:hover {
    transform: scale(1.8);
    font-weight: 600;
    /*color: rgb(206, 60, 150);*/
    padding: 4px 8px;
    text-shadow: 0 1px 4px rgb(44, 108, 110);
    /*color: rgb(88, 34, 88);*/
    /*background-color: rgba(255, 255, 255, 0.514);*/
    border-radius: 4px;
    /*text-decoration: underline;*/
    
}

.content {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    background-color: rgb(121, 156, 165);
    color: white;
    padding: 24px 42px 24px;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 300px;
    gap: 128px;
}

.awe{
    width: 320px;
}

.hero-one, .awesome {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.awesome:hover {
    transform: scale(1.8);
    transform: rotate(-6deg);
    color: rgb(251, 255, 3);
    font-size: 36px;
    font-weight: 700;
}

.hero-two {
    font-size: 12px;
}

.sign {
    /*border-width: 2px;
    border-color: blueviolet;
    border-style: solid;*/
    background-color: rgb(255, 164, 46);
    border-radius: 8px;
    padding: 8px 16px;
    box-shadow: 0 8px 16px rgba(129, 131, 133, 0.623);
    text-align: center;
    width: 64px;
    color: white;
    flex: 1 0 auto;
    
}

.sign:hover {
    background-color: rgb(255, 143, 15);
    transform: scale(1.1);
    font-weight: 600;
    width: 98px;
}

.hero img {
    height: 280x;
    width: 160px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgb(103, 116, 134);
}

.hero img:hover {
    transform: scale(1.6);
    box-shadow: 0 4px 8px rgb(103, 116, 134);
    border-radius: 8px;
    /*background-color: rgba(255, 220, 64, 0.932);*/
    padding: 4px;
}

.random {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    color: rgb(65, 65, 65);
    padding: 24px 42px;
    align-items: center;
    justify-content: center;
    height: 300px;
    flex-grow: 0;
    
}

.random li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 128px;
}

.random li:hover {
    transform: scale(2);
    box-shadow: 0 4px 8px rgb(103, 116, 134);
    text-shadow: 0 1px 2px rgb(103, 116, 134);
    color: white;
    border-radius: 14px;
    background-color: rgba(194, 54, 212, 0.836);
    padding: 8px;
}

.random img {
    width: 128px;
    height: 128px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(103, 116, 134, 0.377);
}

.random p {
    font-size: 32px;
    font-weight: 500;
}

.random li p {
    text-align: center;
    font-size: 12px;

}

/*.random li p {
    background-color: white;
    border-color: blueviolet;
    border-style: dashed;
    border-radius: 8px;
    padding: 32px 36px;
    align-items: center;
    justify-content: center;
}*/

.quote {
    display: flex;
    flex-direction: column;
    background-color: rgb(151, 211, 235);
    color: rgb(65, 65, 65);
    align-items: center;
    justify-content: center;
    height: 300px;
    gap:16px
}
.author {
    font-weight: 600;
    text-align: end;
    padding: 0;
    margin: 0;
}

.quote p {
    width: 420px;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.modal {
    display: flex;
    color: rgb(83, 83, 83);
    height: 300px;
    align-items: center;
    justify-content: center;
    padding: 0 64px;
}

.CTA {
    display: flex;
    gap: 8px;
    background-color: rgb(253, 227, 76);
    padding: 16px 64px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 8px 32px;
}

.title {
    font-weight: 600;
    font-size: 20px;
}

.message {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    color: white;
    background-color: rgb(136, 167, 175);
    align-items: center;
    justify-content: center;
    padding: 16px;
}